.btn {
  border: 1px solid transparent;
  text-transform: uppercase;
  border-radius: 3px;
  padding: 12px 18px;
  font-size: 14px;
  font-weight: 600;
  line-height: 17px;
  letter-spacing: 3px;
  cursor: pointer;
  text-align: center;
  text-decoration: none;

  &.btn-primary {
    color: $white;
    background-color: $greyOrange;
  }
  &.btn-secondary {
    color: $white;
    background-color: transparent;
    border: 1px solid $white;
  }
  &.btn-dark {
    color: $white;
    background-color: $blackGrey;
    font-weight: 500;
    font-size: 12px;
    line-height: 15px;
    padding: 3px 0 25px;
  }
  &.btn-gold {
    color: $white;
    background: linear-gradient(90.59deg, #bd9964 1.6%, #efcd8c 97.85%);
    display: flex;
    justify-content: center;
  }

  @media (max-width: 768px) {
    font-size: 10px;
  }
}
