.contacts {
  background-color: #f3f3f3;
  opacity: 0.8;
  background-image: radial-gradient(#a2a2a5 0.5px, transparent 0.5px), radial-gradient(#a2a2a5 0.5px, #e5e5f7 0.5px);
  background-size: 20px 20px;
  background-position: 0 0, 10px 10px;

  &-logo {
    padding-top: 60px;
    text-align: end;

    &-title {
      color: $black;
      font-weight: 400;
      font-size: 50px;
      line-height: 61px;
      letter-spacing: 0.15em;
    }
    &-text {
      color: $black;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;
      letter-spacing: 0.2em;
    }
  }
}
.contacts-text {
  padding-top: 200px;
  padding-left: 50px;
  padding-bottom: 100px;

  &-description {
    color: $black;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
  }
}
.contacts-info {
  padding-top: 60px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;

  &-block {
    display: flex;
    justify-content: flex-end;
  }
  &-time {
    .week {
      display: flex;
      list-style: none;
      padding-right: 50px;
    }
  }

  &-address {
    position: relative;

    &::before {
      background-color: $black;
      bottom: -60px;
      content: '';
      top: -1px;
      width: 1px;
      right: -20px;
      position: absolute;
    }

    &-text {
      text-decoration: none;
      color: $black;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }
  &-phone {
    &-link {
      padding-left: 40px;
      text-decoration: none;
      color: $black;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
  }
  &-dayoff {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
  }
}
