.employees {
  background-image: url('../images/dist/seco-background.jpg');

  &-person {
    padding: 40px 0;
    text-align: center;

    &-img {
      width: 147px;
    }

    &-title {
      margin-top: 17px;
      color: $white;
      text-align: center;
      font-weight: 300;
      font-size: 14px;
      line-height: 17px;
    }
    &-name {
      text-align: center;

      margin-top: 17px;
      color: $orange;
      font-weight: 500;
      font-size: 16px;
      line-height: 20px;
    }
  }
}
.intensive-block {
  .employees-person-img {
    width: 75px;
  }
  .employees-person-name {
    color: $black;
    font-weight: 300;
    font-size: 14px;
    line-height: 17px;
    text-align: center;
    padding-bottom: 70px;
  }
}
