.header {
  padding-bottom: 120px;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../images/dist/img-title.png');
  position: relative;

  &::before {
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  &-course {
    background-image: url('../images/dist/bg-photo-second.png');

    &::before {
      height: 10%;
    }
  }

  &-body {
    position: relative;
    padding: 0 15px;
    margin: 150px 0;

    &-course {
      display: flex;
      flex-direction: row-reverse;
    }

    .discription {
      text-align: end;
      margin-right: 80px;

      .orange-c {
        color: $orange;
      }

      &-text {
        color: $white;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
      }
    }

    &::after {
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      position: absolute;
      border-right: 1px solid $white;
    }
    &::before {
      top: 0;
      bottom: 0;
      content: '';
      position: absolute;
      border-right: 1px solid $white;
      left: 0;
    }
  }
}

.logo {
  padding-top: 80px;
  display: flex;
  justify-content: center;

  &-course {
    justify-content: flex-start;
    padding: 70px 0 0 80px;
  }

  &-copy {
    color: $white;
    letter-spacing: 0.15em;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    position: relative;

    &-course {
      color: $black;
    }

    &::after {
      border-bottom: 1px solid $white;
      bottom: -60px;
      content: '';
      left: 0;
      position: absolute;
      right: 0;

      @media (max-width: 425px), (max-width: 375px) {
        border-bottom: none;
      }
    }

    &-text {
      letter-spacing: 0.15em;
      margin-top: 10px;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;

      @media (max-width: 425px) {
        font-size: 19px;
      }
      @media (max-width: 375px) {
        font-size: 17px;
      }
    }

    @media (max-width: 425px) {
      font-size: 45px;
    }
    @media (max-width: 375px) {
      font-size: 40px;
    }
  }
}
