.header {
  padding-bottom: 30px;
  background-size: cover;
  min-height: 100vh;
  overflow: hidden;
  background-image: url('../images/dist/img-title.png');
  background-position: center;
  position: relative;

  &::before {
    top: 0;
    left: 0;
    height: 50%;
    width: 100%;
    content: '';
    position: absolute;
    background: linear-gradient(180deg, #000000 0%, rgba(0, 0, 0, 0) 100%);
  }

  &-body {
    position: relative;
    padding: 0 15px;
    margin: 150px 0;

    &::after {
      right: 0;
      top: 0;
      bottom: 0;
      content: '';
      position: absolute;
      border-right: 1px solid $white;
    }
    &::before {
      top: 0;
      bottom: 0;
      content: '';
      position: absolute;
      border-right: 1px solid $white;
      left: 0;
    }
  }
  @media (max-width: 425px) {
    &::after {
      height: 39%;
    }
    &::before {
      height: 30%;
    }
  }
}

.logo {
  padding-top: 80px;
  display: flex;
  justify-content: center;

  &-copy {
    color: $white;
    letter-spacing: 0.15em;
    font-weight: 400;
    font-size: 50px;
    line-height: 61px;
    position: relative;

    &::after {
      border-bottom: 1px solid $white;
      bottom: -60px;
      content: '';
      left: 0;
      position: absolute;
      right: 0;

      @media (max-width: 425px), (max-width: 375px) {
        border-bottom: none;
      }
    }

    &-text {
      letter-spacing: 6px;
      margin-top: 10px;
      font-weight: 300;
      font-size: 20px;
      line-height: 24px;

      @media (max-width: 425px) {
        font-size: 16px;
      }
      @media (max-width: 375px) {
        font-size: 15px;
      }
    }

    @media (max-width: 425px) {
      font-size: 45px;
    }
    @media (max-width: 375px) {
      font-size: 40px;
    }
  }
  @media (max-width: 425px) {
    opacity: 0;
  }
}
.logo-mobile {
  // padding-top: 40px;
  @media (max-width: 2560px) {
    opacity: 0;
  }
  @media (max-width: 425px) {
    opacity: 1;
  }
}
