.header {
  padding-bottom: 100px;
  &-course {
    background-image: url('../images/dist/bg-photo-second.png');

    &::before {
      height: 35%;
    }

    .logo-course {
      display: flex;
      justify-content: flex-start;

      .logo-copy {
        color: $black;

        &::after {
          border-bottom: none;
        }

        &-text {
          letter-spacing: 5px;
        }
      }
    }

    &::after {
      border-bottom: none;
    }

    .header-body-course {
      display: flex;
      flex-direction: row-reverse;
      .socials {
        justify-content: center;
      }

      .description {
        text-align: end;
        margin-right: 60px;
        color: $white;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;
      }
    }
  }
}
