.header {
  padding-bottom: 100px;
  &-course {
    padding: 40px 0;
    background-image: url('../images/dist/bg-course.png');
    background-position: center;

    &::before {
      height: 35%;
    }

    .logo-course {
      display: flex;
      justify-content: flex-start;
      padding-bottom: 100px;

      .logo-copy {
        color: $white;

        &::after {
          border-bottom: none;
        }

        &-text {
          letter-spacing: 5px;
        }
      }
    }

    &::after {
      border-bottom: none;
    }

    .header-body-course {
      display: flex;
      flex-direction: row-reverse;
      margin: 0 0 150px;
      .socials {
        justify-content: center;
      }

      .description {
        text-align: end;
        margin-right: 60px;
        color: $white;
        font-weight: 400;
        font-size: 18px;
        line-height: 30px;

        @media (max-width: 425px) {
          text-align: start;
          font-size: 14px;
        }
      }
    }
  }
}
