.modules {
  color: $white;
  background: url(../images/dist/seco-background.jpg);
  list-style: none;
  padding-bottom: 30px;

  &-header {
    color: white;
    overflow: hidden;

    &-label {
      color: $white;
      font-weight: 400;
      font-size: 14px;

      display: flex;
      justify-content: flex-start;
      cursor: pointer;

      &::after {
        content: '\276F';
        width: 10em;
        height: 1em;
        text-align: center;
        transition: all 0.35s;
      }
    }

    &-content {
      color: $white;
      font-weight: 300;
      font-size: 12px;
      line-height: 15px;
      text-decoration: none;
      display: none;
      // visibility: hidden;
      // opacity: 0;
    }

    &-checkbox {
      position: absolute;
      opacity: 0;
      z-index: -1;
    }
    &-checkbox:checked {
      + .modules-header-label {
        &::after {
          transform: rotate(90deg);
        }

        ~ .modules-header-content {
          padding: 15px 0;
          display: block;
        }
      }
    }
  }
}

.module-img {
  display: flex;
  justify-content: flex-end;
  height: 350px;
}
