.request {
  height: 775px;
  background-repeat: no-repeat;
  background-size: cover;
  background-image: url('../images/dist/wedding-couple.png');
  background-position: center;
}
.request-form {
  padding-top: 60px;

  &-logo {
    text-transform: uppercase;
    color: $black;
    font-weight: 500;
    font-size: 24px;
    line-height: 40px;
    text-align: center;
    letter-spacing: 10px;
  }
  &-copy {
    color: $black;
    font-weight: 300;
    font-size: 14px;
    line-height: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
  }
}
.request-extra {
  background-image: url('../images/dist/ellipse-left.png'), url('../images/dist/ellipse-right.png');
  background-position: top left, right;
  background-repeat: no-repeat;
  display: flex;
  padding: 50px 0 50px 0;

  // &-img {
  //   padding-left: 50px;
  // }

  &-form {
    &-logo {
      text-transform: uppercase;
      color: $black;
      font-weight: 500;
      font-size: 24px;
      line-height: 35px;
      text-align: center;
      letter-spacing: 8px;
    }
    &-copy {
      color: $black;
      font-weight: 300;
      font-size: 14px;
      line-height: 30px;
      padding-top: 20px;
      padding-bottom: 20px;
      text-align: center;
    }
  }

  @media (max-width: 1024px) {
    &-img {
      padding-left: 0;
    }
    &-form {
      padding-left: 40px;
      &-logo {
        letter-spacing: 10px;
        font-size: 20px;
      }
    }
  }
  @media (max-width: 768px) {
    padding: 20px 45px 40px;
  }
  @media (max-width: 425px) {
    padding-left: 0;
    &-form {
      &-logo {
        letter-spacing: 7px;
        font-size: 16px;
      }
    }
  }
}
