.socials {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  list-style: none;

  &-item {
    &:not(:last-child) {
      margin-bottom: 18px;
    }

    img {
      height: 30px;
      width: 30px;
    }
  }
}
