.staff {
  background-color: $black;

  &-title {
    display: flex;
    justify-content: center;
    color: $orange;
    font-weight: 500;
    font-size: 32px;
    line-height: 50px;
    text-transform: uppercase;
    letter-spacing: 5px;
    padding: 70px 0 30px;

    @media (max-width: 425px) {
      font-size: 17px;
    }
    @media (max-width: 375px) {
      font-size: 15px;
    }
  }
  &-cards {
    &-item {
      display: flex;
      background-color: $blackGrey;
      padding: 80px;
      margin-bottom: 60px;

      @media (max-width: 768px) {
        padding: 30px;
      }

      &-img {
        width: 147px;
        height: 147px;
        border-radius: 50%;
        object-fit: cover;

        @media (max-width: 1024px) {
          display: block;
          margin: 0 auto;
          margin-bottom: 40px;
        }
      }

      @media (max-width: 1024px) {
        flex-direction: column;
      }

      &-name {
        color: $orange;
        font-weight: 500;
        font-size: 18px;
        line-height: 22px;
      }

      &-title {
        color: $white;
        font-weight: 500;
        font-size: 16px;
        line-height: 20px;
      }

      &-copy {
        color: $white;
        font-weight: 300;
        font-size: 14px;
        line-height: 17px;
        padding-top: 10px;
      }
    }
  }
  &-more {
    color: $white;
    font-weight: 500;
    font-size: 14px;
    line-height: 15px;

    &-title {
      margin-bottom: 10px;
    }
    &-description {
      font-weight: 400;
      font-size: 14px;
      line-height: 20px;
      padding: 0 0 10px 0;
    }
  }
}
details[open] > summary {
  display: flex;
}
